<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         convertDeprecationsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         defaultTestSuite="Compatible">
    <testsuites>
        <testsuite name="Compatible">
            <!-- PHPUnit 8 compatible tests that don't require Laravel framework -->
            <file>./tests/Unit/ExampleTest.php</file>
            <file>./tests/Unit/TailwindConfigTest.php</file>
        </testsuite>

        <!-- Laravel-dependent test suites (disabled due to Laravel 5.5 + PHP 8.x compatibility issues) -->
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="APP_KEY" value="base64:LKaJi9n3RkKaG3Eg5p2zVHSUcFjt9wX6GqEqd8aQFLI="/>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED &amp; ~E_STRICT" />
    </php>
</phpunit>